[*Tests.cs]
dotnet_diagnostic.CA1515.severity = none # Consider making public types internal
dotnet_diagnostic.CA1707.severity = none # Identifiers should not contain underscores
resharper_inconsistent_naming_highlighting = none # InconsistentNaming
