[*.cs]
dotnet_diagnostic.CS8632.severity = silent # The annotation for nullable reference types should only be used in code within a ‘#nullable’ annotations context.

[DisposableStateMachine_2.cs]
resharper_suspicious_type_conversion_global_highlighting = hint
