[*.cs]
dotnet_diagnostic.CS1591.severity = suggestion # Missing XML comment for publicly visible type or member

[*StateMachine_*.cs]
dotnet_diagnostic.CA1000.severity = silent # Do not declare static members on generic types
